<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Linear Regression</h5>
            <h6 class="card-subtitle">Employee Salary Prediction</h6>
            <p class="card-text">
              Here we uses a linear regression model to predict the salary based
              on his/her experience. Since it is a linear regression we have one
              dependent variable i.e Salary and one independent variable i.e.
              Experience.
            </p>
            <a class="btn btn-primary" href="/linear" role="button">Model</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Multivariate Linear Regression</h5>
            <h6 class="card-subtitle">Housing Price Prediction</h6>
            <p class="card-text">
              Here we uses a Multivariate regression model to predict the House
              rate based on many parameter. We get parameters like no. of
              bedrooms,no. of bathrooms, no. of floor, total sq feet to predict
              rate of the house
            </p>
            <a class="btn btn-primary" href="/multi" role="button">Model</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Logistic Regression</h5>
            <h6 class="card-subtitle">Diabetes Prediction</h6>
            <p class="card-text">
              Here we uses a Logistic regression model to classify whether the
              patient has diabetes or not based on the parameters like Glucose
              level, Blood pressure, Insulin level, Body Mass Index and Age to
              classify.
            </p>
            <a class="btn btn-primary" href="/log" role="button">Model</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">K-Nearest Neighbor</h5>
            <h6 class="card-subtitle">Flower Prediction</h6>
            <p class="card-text">
              Here we uses a K-Nearest Neighbor to classify whether the flower
              is Setosa or Versicolor or Virginica based on the parameters like
              Sepal Length, Sepal Width,Petal Length,Petal Width to classify.
            </p>
            <a class="btn btn-primary" href="/knn" role="button">Model</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Support Vector Machine</h5>
            <h6 class="card-subtitle">Penguin Gender Prediction</h6>
            <p class="card-text">
              Here we uses a Support Vector Machine to classify whether the
              Penguin is Male or Female based on the parameters like Bill
              Length, Bill Depth, Flipper Length, Body Mass to classify it's
              gender.
            </p>
            <a class="btn btn-primary" href="/svm" role="button">Model</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Random Forest</h5>
            <h6 class="card-subtitle">Possum Gender Prediction</h6>
            <p class="card-text">
              Here we uses a Random Forest Classifier to classify whether the
              Possum is Male or Female. Random forest is a ensemble technique
              where it uses multiple decision tree to classify the dependent
              variable here that variable is Sex.
            </p>
            <a class="btn btn-primary" href="/for" role="button">Model</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">AdaBoost</h5>
            <h6 class="card-subtitle">Flower Prediction</h6>
            <p class="card-text">
              Here we uses a AdaBoost Classifier to classify whether the flower
              is Setosa or Versicolor or Virginica. It is ensemble learning
              technique where it uses several weak learners and convert them
              into one strong learner.
            </p>
            <a class="btn btn-primary" href="/ada" role="button">Model</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">XGBoost</h5>
            <h6 class="card-subtitle">Diabetes Prediction</h6>
            <p class="card-text">
              Here we uses a Logistic regression model to classify whether the
              patient has diabetes or not. It is also a ensemble learning
              technique. XGBoost is an implementation of the Gradient Boosted
              Decision Trees algorithm.
            </p>
            <a class="btn btn-primary" href="/xg" role="button">Model</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
